<h1>Members List</h1>

<table>
<tr>
<th>Name</th>
<th>Is Admin</th>
<th>Is Member</th>
<th>Update</th>
</tr>
<% @users.each do |u| %>
  
  <%= form_for(u) do |f| %>
    <tr>
    <td><%= u.name %></td>
    <td><%= f.check_box :is_admin %></td>
    <td><%= f.check_box :is_member %></td>
    <td><%= f.submit 'Set' %></td>
    </tr>
  <%end %>
<% end %>
</table>
