<h1>Posts</h1>

<ul>
<% @post.errors.full_messages.each do |e| %>
  <li class="red"><%= e %></li>
<% end %>
</ul>

<% if user_signed_in? %>
  <%= render 'form' %>
<% end %>

<div class="posts">
  <hr/>
  <% @posts.each do |p| %>
    <p class="post-title"><%= p.title %></p>
    <p class="post-body"><%= p.body %></p>
    <% if user_signed_in? %>
      <% if current_user.is_member %>
        <p class="author"><%= p.user ? p.user.name : 'unknown author' %></p>
      <% end %>
    <% end %>
    <hr/>

  <% end %>
</div>